
<script>
    function initialize() {

      var input = /** @type {HTMLInputElement} */(document.getElementById('searchTextField'));
      var autocomplete = new google.maps.places.Autocomplete(input);

      google.maps.event.addListener(autocomplete, 'place_changed', function() {
        infowindow.close();
        marker.setVisible(false);
        input.className = '';
        var place = autocomplete.getPlace();
        if (!place.geometry) {
          // Inform the user that the place was not found and return.
          input.className = 'notfound';
          return;
        }

           var address = '';
           if (place.address_components) {
             address = [
               (place.address_components[0] && place.address_components[0].short_name || ''),
               (place.address_components[1] && place.address_components[1].short_name || ''),
               (place.address_components[2] && place.address_components[2].short_name || '')
             ].join(' ');
           }

           infowindow.setContent('<div><strong>' + place.name + '</strong><br>' + address);
           infowindow.open(map, marker);
         });

}

google.maps.event.addDomListener(window, 'load', initialize);

</script>

    <div id="panel">

      <form accept-charset="UTF-8" action="/results" method="get">
        <input id="searchTextField" type="text" name="query" placeholder="">
        <input type="hidden" name="type" id="changetype-geocode">
        <button id="submit">Search By Address</button>
    </form>

    <!-- <form id="address_search" action='/results' data-transition="pop" method='get'>
        <button id="submit">Find Good Food</button>
      </form> -->

    </div>
    <div id="map-canvas"></div>
