
<div data-role="panel" data-position-fixed="true" data-theme="a" id="nav-panel">
        <ul data-role="listview" data-theme="a">
            <li><a href="/results" data-icon="delete" data-rel="close">Close menu</a></li>
            <li><a href="/" data-icon="home" data-ajax="false" data-transition="flip">Home</a></li>
            <li>
              <% if signed_in? %>
                  <li><a href="/sign_out">Sign Out</a></li>
              <% else %>
                  <li><a href="/login" data-rel="dialog" data-transition="flip">Sign In</a></li>
              <% end %>
            </li>
            <li><a href="/search" data-transition="flip">Search</a></li>
            <li><a href="/about" data-transition="flip">About</a></li>
        </ul>
  </div>