
  <div data-role="page">

  <%= render 'menu' %>

  <div data-role="content">
  <div id='menu-panel'>
        <a href="#nav-panel" class="box-shadow-menu" title="Navigation"><span id='menu-link'></span></a>
  </div>

<div id="about">
  <h2>GoodFood</h2>
  <p>GoodFood is a quick and easy way to find what you're seeking - highly rated restaurants that are open and close to you! We only show the best food in your area so that you, the discriminating eater, won't have to sift through those lesser establishments to find what you're looking for.


  <div class="about">
    <h3><a href="mailto:andris310@gmail.com?Subject=GoodFood">Andris Lukjanovics</a></h3>
    <p>Andris managed to tame JQuery Mobile and utilized his natural talent for style and layout to bring life to GoodFood.</p>
  </div>

  <div class="about">
    <h3><a href="mailto:phil248@gmail.com?Subject=GoodFood">Phil DiNuzzo</a></h3>
    <p>Against his better judgement, Phil ended up writing JavaScript and brought the wonders of geolocation to this app.
  </div>

  <div class="about">
    <h3><a href="mailto:ryan.manalo@alum.berkeley.edu?Subject=GoodFood">Ryan Manalo</a></h3>
    <p>Ryan is responsible for the magical blending of APIs to ensure that only the best restaurants are represented on GoodFood.
  </div>

  <div class="about">
    <h3><a href="mailto:sherodtaylor@gmail.com?Subject=GoodFood">Sherod Taylor</a></h3>
    <p>While Sherod wasn't busy managing Git and Heroku and overcoming challenges on the backend, he somehow found time to write <a href="https://github.com/sherodtaylor/openexchange_convert">his first Ruby Gem</a>.
  </div>


</div>