<div data-role='page'>
  <%= render 'menu' %>
  <div id='menu-panel'>
        <a href="#nav-panel" class="box-shadow-menu" title="Navigation"><span id='menu-link'></span></a>
    </div>

  <div data-role="content">
    <div id="favorites">

    <div>
  </div>
</div>