Splash Page.

Automatic geolocation or prompt to access geolocation.
No geolocation, then a box to enter address or zip code.

Also...
A few words about the app.
A link to an About page.



<br><br>
Please enter your address:

      <form id="address_search" action='/results' method='get'>
        <input name='query' placeholder='Enter your address with City and State'/>
        <button id="submit">Submit</button>
      </form>


