<div data-role='dialog' id="login">
  <div id="login-inner" data-close-btn="right">
    <span id="login-with">Log in with</span>
    <a href="/auth/facebook"><%= image_tag('Facebook.png') %></a>
    <a href="/auth/google_oauth2"><%= image_tag('Google.png') %></a>
  </div>
</div>