<div data-role='page'>

  <%= render 'menu' %>

  <div data-role="header" data-position="fixed">

    <div id='header-right'>
      <h1>GoodFood</h1>
      <div id='current-location'><%= @city %></div>
    </div>

    <div id='header-left'>
      <div id='menu-panel'>
          <a href="#nav-panel" class="box-shadow-menu" title="Navigation"><span id='menu-link'></span></a>
      </div>

      <div id='username'>
        <% if signed_in? %>
          <span><%= current_user.name %></span>
        <% end %>
      </div>
    </div>
<!--     <div id='location_btn' data-icon="bars">
      <a href="/search" data-rel="dialog" data-transition="flip"></a>
    </div> -->
  </div>
<!-- ~~~~~~~~~~~~Results start below~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <div data-role="content">
    <div id="results">
      <% if @s == "Sorry! There's no good food there." %>

        <div class="r_thumbnail">
          <div id='far-away'>Sorry, good food is too far away!<br/>Consider cooking tonight.</div>
        </div>

      <% else %>

      <% @s.each do |i|  %>

        <%= render :partial => 'item', :locals => {:i => i} %>

      <% end %> <!-- end of 'do' for the loop of building thumbnail -->
    <% end %> <!-- end of 'do' for the loop of building thumbnail -->


      <ul id='bottom-list'>
        <% if signed_in? %>
          <li><a href="/sign_out">Sign Out</a></li>
        <% else %>
          <li><a href="/login" data-rel="dialog" data-transition="flip">Sign In</a></li>
        <% end %>
        <li id="divider"> | </li>
        <li><a href="/about" data-ajax="false">About</a></li>
      </ul>

    </div> <!-- end of results -->
  </div> <!-- end of content -->
</div> <!-- End of Page -->