<div data-role="header" data-position="fixed">
  <div id='header-right'>
    <h1>GoodFood</h1>
    <div id='current-location'><%= @city %></div>
  </div>
  <div id='location_btn'>
    <a href="/search" data-rel="dialog" data-transition="flip"><%= image_tag('location.png') %></a>
  </div>
</div>
<!-- ~~~~~~~~~~~~Results start below~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<div id="results">
  <div class="r_thumbnail">
  </div>

  <div class="r_thumbnail">
  </div>


<a href="/login" data-rel="dialog"  data-transition="flip">Sign In</a>
</div>