<div data-role='page'>

  <%= render 'menu' %>

  <div id="page-header" data-role="header" data-position="fixed">

    <div id='header-right'>
      <a href="/" data-ajax="false" data-transition="flip"><h1>GoodFood</h1></a>
      <div id='current-location'><%= @city %></div>
    </div>

    <div id='header-left'>
      <div id='menu-panel'>
          <a href="#nav-panel" class="box-shadow-menu" title="Navigation"><span id='menu-link'></span></a>
      </div>
    </div>
  </div>
<!-- ~~~~~~~~~~~~Results start below~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <div data-role="content">
    <div id="results">
      <div id='grid'>
        <% if @s == "Sorry! There's no good food there." %>

          <div class="r_thumbnail">
            <div id='far-away'>Sorry, good food is too far away!<br/>Consider cooking tonight.</div>
          </div>

        <% else %>

        <% @s.each do |i|  %>

          <%= render :partial => 'item', :locals => {:i => i} %>

        <% end %> <!-- end of 'do' for the loop of building thumbnail -->
        <% end %> <!-- end of 'do' for the loop of building thumbnail -->


      </div> <!-- end of grid -->
    </div> <!-- end of results -->
  </div> <!-- end of content -->
</div> <!-- End of Page -->