<div data-role='dialog' id="login">
  <div id="search-inner">
    <div id="close">
      <a href="/" data-rel="back">X</a>
    </div>
    <span id="login-with">Search</span>
      <form id="address_search" action='/results' method='get'>
      <input name='query' placeholder='Enter your address with City and State'/>
      <button id="submit">Find Good Food</button>
    </form>

  </div>
</div>