<div data-role='dialog' id="login">
  <div id="search-inner" >
    <div id="close">
      <a href="/" data-rel="back">X</a>
    </div>
    <span id="login-with">Search</span>
  <%= render 'autocomplete' %>

  </div>
</div>

