$OpenFont: 'Open Sans', sans-serif;
$blue: #39A2E7;

textarea:focus, input[type="text"]:focus,
input[type="password"]:focus, input[type="email"]:focus,
.uneditable-input:focus {
outline: 0 none;
}


p {
  font-family: $OpenFont;
}

a {
  text-decoration: none;
}

.ui-link h1 {
  color: #757575;
}

div.ui-page.ui-body-c.ui-page-active {
  min-height: 100%;
}

/* ------- INDEX -------- */

.content {
  margin: auto;
  max-width: 35em;
}

.hey-user {
  font-family: $OpenFont;
  font-weight: 300;
  font-size: 1.4em;
}

#current-location {
  margin-left: .2em;
  font-weight: normal;
  color: $blue;
}

#geo-location {
  height: 1.4em;
  font-family: $OpenFont;
  font-weight: 600;
  font-size: 1.3em;
  text-align: center;
  margin-bottom: 10%;
  color: $blue;
}

#address_search {
  max-width: 24em;
  margin: auto;
}

#unhide_address p {
  font-family: $OpenFont;
  font-weight: 300;
  margin-top: 5%;
  margin-bottom: -1%;
  cursor: pointer;
  text-align: center;
}

.hide {
  display: none;
}

#panel {
  max-width: 24em;
  margin: auto;
}

.hide {
  min-width: 100%;
}

#searchTextField {
  height: 1.9em;
  padding-top: .2em;
  border: 0;
  font-size: 1.2em;
  color: $blue;
  line-height: 1em;
  max-height: 2em;
  max-width: 24em;
  min-width: 100%;
  background-color: rgba(0, 0, 0, 0);
  margin: auto;
}

#near {
  text-align: center;
  margin-top: 20%;
}

#near p {
  margin-bottom: .1em;
}

#not-close {
  text-align: center;
  margin-top: 15%;
}

#bottom-list li {
  list-style-type: none;
  display: inline;
}

ul#bottom-list{
  clear: both;
  text-align: center;
  margin-top: 15%;
  margin-right: 2.4em;
}

.phone a.ui-link, .address a.ui-link {
  text-decoration: none;
  color: #000;
  font-weight: 300;
}

.phone a.ui-link:visited, .address a.ui-link:visited {
  color: black;
}

.phone a.ui-link:hover, .address a.ui-link:hover {
  color: #2489CE;
}

.phone a {
  color: #000;
  font-weight: 300;
}

#username {
  font-weight: 300;
  font-family: $OpenFont;
  font-size: .75em;
  margin-top: -.2em;
  float: right;
  height: 1em;
  clear: both;
}

/*-------- RESULTS --------*/

.ui-content {
  padding: 1.4%;
}

#menu-panel {
  float: right;
  margin: 1em 7%;
}

#menu-link {
  position: absolute;
  width: 2em;
  height: 2em;
  top: 0;
  left: 0;
}

.box-shadow-menu {
  position: relative;
  padding-left: 1.25em;
}
.box-shadow-menu:before {
  border-radius: 2px;
  content: "";
  position: absolute;
  left: 0;
  top: 0.25em;
  width: 1.9em;
  height: 0.35em;
  background: #ADADAD;
  box-shadow: 0 0.6em 0 0 #ADADAD, 0 1.15em 0 0 #ADADAD;
}

#header-right {
  width: 60%;
  float: left;
  margin-left: 2.5%;
}

#header-left {
  height: 4em;
  float: right;
  margin-right: 4.5%;
}

h1 {
  margin: .1em 0 0 0;
  clear: both;
}

hr {
  border-top: 1px solid #F1F1F1;
}

.category {
  margin-bottom: .9em;
  color: #E98D29;
}

.address {
  float: left;
  width: 12em;
}

.phone {
  color: #44689C;
  float: left;
  margin-top: .5em;
  font-size: 1.2em;
  font-family: $OpenFont;
}

.review_count, .yelp_rating, .google_rating {
  font-family: $OpenFont;
  font-weight: 300;
  font-size: .75em;
}

.count_number {
  font-size: .8;
}

.reviews {
  clear: both;
  position: absolute;
  left: 1em;
  width: 80%;
  bottom: .5em;
}

.reviews ul {
  list-style-type: none;
  display: inline;
  padding-left: 0px;
}

.reviews ul li {
  margin-right: 1em;
  display: inline-block;
}

.ui-header .ui-title {
  font-size: 26px;
  display: block;
  margin: .2em 3% .2em;
  text-align: left;
  float: left;
}

.ui-link img {
  width: 40px;
  float: right;
  margin: 10px;
  margin-right: 2.5%;
}

#results {
  clear: both;
}

.r_thumbnail {
  position: relative;
  padding: .1em 1em;
  -moz-box-shadow: 0 1px 3px rgba(155, 155, 155, 0.6);
  -webkit-box-shadow: 0 1px 3px rgba(155, 155, 155, 0.6);
  box-shadow: 0 1px 3px rgba(155, 155, 155, 0.6);
  margin: .5em auto;
  background-color: #FAFAFA;
  min-height: 13em;
  max-width: 24em;
}

.r_name {
  width: 14em;
  font-family: $OpenFont;
  font-size: 1.5em;
  color: #464646;
  font-weight: 300;
}

.status {
  float: right;
}

.ui-input-text.ui-body-c {
  background: white;
  height: 2.6em;
  font-size: 1.05em;
}

.ui-page {
  padding: 4px;
  box-sizing: border-box;
}

.ui-header {
  height: 4.5em;
}

.ui-btn-up-a {
  font-family: $OpenFont;
  font-weight: 300;
}



.ui-btn-hover-a, a.ui-link-inherit {
  color: #0F1316;
  font-family: $OpenFont;
  font-weight: 300;
}

::-webkit-input-placeholder {
  color: #DADADA;
  text-align: center;
}

#login-inner, #search-inner {
  margin-top: 35%;
  padding: 2em 2.4em;
  overflow: hidden;
  background-color: white;
}

#login-with {
  padding: .4em;
  font-size: 2.1em;
  color: #464646;
  font-family: $OpenFont;
  font-weight: 300;
}

.ui-dialog-contain {
  width: 95.5%;
  max-width: 450px;
}

#close a {
  position: absolute;
  top: -.1em;
  left: 0;
  display: block;
  text-align: center;
  width: 1em;
  font-family: $OpenFont;
  font-weight: 300;
  font-size: 1em;
  color: #000;
  padding: .2em;
}

.open {
  color: #31C731;
  display: block;
  margin-top: .6em;
}

.close {
  display: block;
  margin-top: .6em;
  color: red;
}

.yelp_thmb {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  overflow:hidden;
  position: relative;
  float: right;
}

.yelp_thmb img {
  max-height: 150px;
  float: right;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.yelp_thmb img.absolute{
    left: 50%;
    margin-left: -50px;
    position:absolute;
}

.yelp-icon.ui-link {
  opacity: 0.6;
  display: inline-block;
}

.google-icon.ui-link {
  opacity: 0.6;
  display: inline-block;
  margin-right: .3em;
}


.yelp-icon {
  background-color: #f6f;
  background: url(yelp.svg);
  display: block;
  text-indent: -9999px;
  width: 1.9em;
  height: 1.5em;
  background-size: 1.7em 1.5em;
}

.google-icon {
  background: url(google.svg);
  display: block;
  text-indent: -9999px;
  width: 1.3em;
  height: 1.4em;
  background-size: 1.6em 1.4em;
}

.map-icon {
  opacity: 0.45;
  display: inline-block;
}

.map-icon {
  background: url(location.svg);
  display: block;
  text-indent: -9999px;
  width: 1.3em;
  height: 1.4em;
  background-size: 1.6em 1.4em;
}

.map-star {
  clear: both;
  position: absolute;
  right: 1em;
  width: 20%;
  bottom: .5em;
}

.map-star ul {
  list-style-type: none;
  display: inline;
  padding-left: 0;
  float: right;
  margin-bottom: -.2em;
}

.map-star ul li {
  display: inline-block;
}

.star-icon {
  opacity: 0.45;
  display: inline-block;
}

.star-icon {
  background: url(star.svg);
  display: block;
  text-indent: -9999px;
  width: 1.3em;
  height: 1.4em;
  background-size: 1.6em 1.4em;
}

span#favorite {
  color: #000;
  font-size: .7em;
  font-family: $OpenFont;
  font-weight: 300;
}

.search-icon {
  background: url(search.svg);
  display: block;
  text-indent: -9999px;
  width: 1.9em;
  height: 1.9em;
  background-size: 2.1em 2.1em;
}

.search.search-icon {
  opacity: 0.5;
  margin: 0 .1em;
  display: inline-block;
  margin-bottom: -.5em;
}

#far-away {
  color: #FF401B;
  text-align: center;
  font-family: $OpenFont;
  font-weight: 300;
  font-size: 1.3em;
  margin-top: 2.4em;
}


.button2 a {
  color: white;
  background-color: #888;
  padding: 10px;
  border-radius: 3px;
  -webkit-transition-duration: 0.6s;
  -moz-transition-duration: 0.6s;
  -o-transition-duration: 0.6s;
  transition-duration: 0.6s;
}

.button2 a:hover {
  padding-left: 20px;
  padding-right: 20px;
  background-color: #DA4B39;
  text-decoration: none;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}



/* --------- Media Queries --------- */
@media screen
and (min-width:885px) {

  .r_thumbnail {
    margin-right: .5em;
    float: left;
    width: 22em;
  }

  #grid {
    width: 810px;
    margin: auto;
  }

}


@media screen
and (max-width:455px) {
  #login-inner, #search-inner {
  padding: 2em .7em;
  }

  .close, .open {
    font-size: .8em;
  }

  .r_name {
    font-size: 1.3em;
  }

  #login-with {
    font-size: 2em;
  }

}

@media only screen
and (max-width : 320px) {
  .ui-content {
    padding: 1.5%;
  }

  .r_thumbnail {
  padding: .1em 2.5%;
  }

  .r_name {
    font-size: 1.11em;
  }

  .open, .close {
    font-size: .9em;
  }

  .yelp_thmb {
    width: 80px;
    height: 80px;
  }

  .yelp_thmb img {
    margin-top: -.7em;
    margin-right: -.7em;
  }

  .address {
    width: 12em;
  }

  .reviews {
    left: 2.5%;
  }

  #login-with {
    padding: .2em;
    font-size: 2em;
  }

  #login-inner {
    padding: 2em .6em;
  }

  #search-inner {
  padding: 1.2em .6em 2em .6em;
  }

  .ui-link img {
    width: 35px;
    float: right;
    margin: .3em;
  }

  .google-icon {
    width: 1.3em;
    height: 1.45em;
    background-size: 1.6em 1.4em;
  }

  #location_btn a.ui-link img {
    width: 3em;
    float: right;
    margin: .4em .7em .4em .4em;
  }
}
/* --------------------------------- */

.ui-overlay-shadow {
  -webkit-box-shadow: 0 1px 3px rgba(192, 192, 192, .6);
  -moz-box-shadow: 0 1px 3px rgba(192, 192, 192, .6);
  box-shadow: 0 1px 3px rgba(192, 192, 192, .6);
}

:-moz-placeholder {
  color: #DADADA;
  text-align: center;
}

::-moz-placeholder {
  color: #DADADA;
  text-align: center;
}

:-ms-input-placeholder {
  color: #DADADA;
  text-align: center;
}