p {
  font-family: 'Open Sans', sans-serif;
}

/* ------- INDEX -------- */

#current-location {
  font-weight: normal;
  color: #B4B4B4;
}

#geo-location {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  margin-bottom: 10%;
}

#address_search {
  max-width: 24em;
  margin: auto;
}

#near {
  text-align: center;
}

#not-close {
  text-align: center;
  margin-top: 15%;
}

#bottom-list li {
  list-style-type: none;
  display: inline;
}

ul#bottom-list{
  text-align: center;
  margin-right: 2.4em;
}

/*-------- RESULTS --------*/

#header-right {
  width: 15em;
  float: left;
  margin-left: .5em;
}

h1 {
  margin: .1em 0 0 0;
}

.ui-header .ui-title {
  font-size: 26px;
  display: block;
  margin: .2em 3% .2em;
  text-align: left;
  float: left;
}

.ui-link img {
  width: 40px;
  float: right;
  margin: 10px;
}

#results {
  clear: both;
}

.r_thumbnail {
  border: 1px solid #E4E4E4;
  margin: 3px 3px 6px 3px;
  background-color: #FAFAFA;
  height: 300px;
}

.ui-input-text.ui-body-c {
  background: white;
}

.ui-page {
  padding: 4px;
  box-sizing: border-box;
}

.ui-header {
  height: 60px;
}

::-webkit-input-placeholder {
  color: #DADADA;
  text-align: center;
}

:-moz-placeholder {
  color: #DADADA;
  text-align: center;
}

::-moz-placeholder {
  color: #DADADA;
  text-align: center;
}

:-ms-input-placeholder {
  color: #DADADA;
  text-align: center;
}

